{% extends 'base.html' %}

{% block title %} Blogly {% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p class="post_body"> {{ post.content }}</p>
<p>By {{ author.first_name}} {{ author.last_name }} on {{ post.created_at }} </p>
<p>
    <b>Tags:</b>
    {% for tag in tags %}
    <span class="tag">{{ tag.name }}</span>
    {% endfor %}
</p>
<a href="/posts/{{ post.id }}/edit">
    <button class="edit-button">Edit</button>
</a>
<form action="/posts/{{ post.id }}/delete" method="post">
    <input type="submit" value="Delete" class="delete-button">
</form>
<a href=" /users/{{ post.author_id }}">Go back</a>

{% endblock %}