{% extends 'base.html' %}

{% block title %} Blogly {% endblock %}

{% block content %}
<div id="user_info" class="horiz-align">
    <img src="{{ user.img_url }}" class="user-image">
    <div id="user_name_title" class="user-info">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <a href="/users/{{user.id}}/edit">
            <button class="edit-button">Edit</button>
        </a>
        <form action="/users/{{user.id}}/delete" method="post">
            <input type="submit" value="Delete" class="delete-button">
        </form>
    </div>
</div>
<div id="user_posts">
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{ post.id }}" class="link-style">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <a href="/users/{{user.id}}/posts/new">
            <button class="add-btn">Add Post</button>
        </a>

        <a href="/users">
            <button class="back-btn">Back</button>
        </a>
    </div>

    {% endblock %}